.notification-outer{
    border:1px solid darkgray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 12px;
    /* border-radius: 6px; */
    width: 500px;
    background-color:whitesmoke ;
    /* margin: 0ch; */
}
.notification-img{
    border-radius: 8px;
    width: 90px;
}
.notification-content{
    padding-left: 5%;
    display: inline;
}
.notification-title{
    color: rgb(46, 46, 46);
    font-family: Helvetica,Arial,  sans-serif;
    font-weight:600;
}
.notification-text{
    color: gray;
    font-family: Helvetica,Arial,  sans-serif;
    font-weight:500;
}
.notification-outer:hover{
    border:1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0ch;
    padding: 15px;
    transition: transform .2s;
    transform: scale(1.01);
    background-color: #E7EBF4;
    border-radius: 6px;
}